nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    z-index: 10;
    margin-top: 16px;
    margin-bottom: 16px;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        li{
            margin-right: 24px;
            a{
                padding: 8px 0;
                border-bottom: 0px solid #e75336;
                transition: border 10ms ease-out;
            }
            a:hover{
                border-bottom: 1px solid #e75336;
            }

        }
        li:last-child{
            margin-right: 0px;
        }
    }

}
.main-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    div{
        margin-right: 40px;
    }
}
.active{
    border-bottom: 1px solid #e75336;


}
.menu-two {
    li:last-child{
        a:hover {
            border-bottom: 0;
        }
    }
}

