*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: white;
    font-family: sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("img/X.png");
    background-repeat: no-repeat;
    background-position: 90% 0;

}
header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
